<div class="addedContent">
    <table class="operRightContent__table js-table">
        <tbody class="js-confirmTable">
        <tr class="js-firstTableRow">
            <th>№</th>
            <th class='sortBtn'>Данные &#8595;</th>
        </tr>
        </tbody>
    </table>
    <input type="text" class='operRightContent__filter js-filter' placeholder="Поиск"><br>
</div>



