<div class="addedContent">
    <div>
        <input type="text" class='operRightContent__input js-numInput'>
        <div class="operRightContent__warning"></div>
    </div>

    <div>
        <input type="text" class='operRightContent__input js-numInput'>
        <div class="operRightContent__warning"></div>
    </div>

    <button class="operRightContent__add js-add">+</button>
</div>
