<section class="main">
    <div class="container">
        <div class="row">
            <div class="mainContent">
                <h1 class="mainContent__title">
                    {{title}}
                </h1>

                <h2 class="mainContent__subtitle">
                    {{subtitle}}
                </h2>


            </div>

            <p class="mainContent__description">
                {{{description}}}
            </p>

            <button class="mainContent__btn  js-mainContent__btn">
                {{btnName}}
            </button>
        </div>
    </div>
</section>





