<section class="operations">
    <div class="container">
        <div class="row">
            <div class="operHeadings">
                <h1 class="operHeadings__title">
                    {{title}}
                </h1>

                <h2 class="operHeadings__subtitle">
                    {{subtitle}}
                </h2>
            </div>

            <div class="operLeft">
                <div class="operLeftСontent js-operLeftContent">

                </div>
            </div>

            <div class="operRight">
                <div class="operRightContent js-operRightContent">

                </div>

                <div class="operRightButtons js-rightButtons">
                    <button class="operRightButtons__btn js-prevBtn">
                        Назад
                    </button>

                    <button class="operRightButtons__btn js-nextBtn">
                        Продолжить
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>





