<div class="addedContent">
    <table class="operRightContent__table">
        <tbody class="js-result">
        <tr class="js-firstTableRow">
            <th>№</th>
            <th>Данные</th>
        </tr>

        <tr class="operRightContent__result">
            <td>Результат</td>
            <td>{{result}}</td>
        </tr>
        </tbody>
    </table>
</div>